# Nix
result
result-*
*.qcow2

# Direnv
.direnv/
.envrc

# Editors
.idea/
.vscode/
*.swp
*~
*.swo

# MacOS
.DS_Store

# Temporary files
tmp/

# Secrets
.env
secrets/*.dec.yaml
secrets/*.decrypted.yaml


# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Encrypted/Decrypted Secret leftovers
secret.tmp.yaml
kubeconfig

# Pulumi
pulumi/node_modules/
pulumi/bin/
pulumi/*.log

# Backups
backups/