apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jackett-pvc-longhorn
  namespace: jackett
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
