apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc-longhorn
  namespace: aiometadata
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aiometadata-pvc-longhorn
  namespace: aiometadata
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
