apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc-longhorn
  namespace: minio
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi
