apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aiostreams-data-longhorn
  namespace: aiostreams
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
